<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <!-- Include file header.ejs -->
    <%- include('header') -%>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <!-- Hiển thị message gửi từ phía Server -->
            <% if(typeof message !== 'undefined' && message !== undefined) { %>
                <h1><%= message %></h1>
            <% } %>
            <% if(typeof error !== 'undefined' && error !== undefined) { %>
                <h1><%= error %></h1>
            <% } %>

            <% if(data !== undefined) { %>
                <div class="card" style="width: 18rem;">
                    <img src="<%= data.thumbnail %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= data.title %></h5>
                      <p class="card-text"><%= data.titleDescription %></p>
                      <% if (data.type && data.type !== 'free') { %>
                        <p class="card-text">Giá tiền: <%= data.amount %></p>
                        <a href="#" class="btn btn-primary">Thêm vào giỏ hảng</a>
                      <% } else { %>
                        <p class="card-text">Miễn phí</p>    
                        <a href="#" class="btn btn-primary">Học ngay</a>
                        <% } %>
                    </div>
                </div>
            <% } else { %>
                <div class="d-flex align-items-center">
                    <strong>Loading...</strong>
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
            <% } %>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>